:root{
  --primary:#ecf1f0
}
body{
  margin: 0;
}
.pa{
color: var(--primary);
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.font{
  background: #11011E  ;
}
.text2{
  display: flex;
  justify-content: start;
  color: #0FAE96  ;
}
.logo{
  color: var(--primary);
}
.logo span{
  color: #0FAE96;
}
.text2{
 color: #B6B6B6;
 font-size: 100;
}